<div class="container p-6">
    <a href="/links3/add" class="fa fa-plus" focusable="false">
    Agregar
    </a>
</div>
<div class="container p-4">
    <div class="row">
        {{#each links}}
                <div class="col-md-3">
                   <div class="card text-center bg-secondary border-dark">
                    <div class="card-body">
                             <h2> {{nombrepuesto}}</h2>                  
                        <a href="/links3/delete/{{id_puesto}}" class="btn btn-danger">delete </a>
                        <a href="/links3/edit/{{id_puesto}}" class="btn btn-secondary">edit</a>           
                    </div>
                    </div>
                </div>
                {{else}}
                <div class="col-md-4 mx-auto">
                    <div class="card card-body text-center">
                        <p>NO HAY LINKS GUARDADOS AUN</p>
                        <a href="/links3/add">CREA UNO</a>
                    </div>
                </div>
            {{/each}}
    </div>
</div>