<main class="index">

    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"></h1>
            <a href="/cliente" class="btn btn-dark">
                Pide tu cafe Aqui
            </a>
        </div>
    </header>
</main>