<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="container-fluid">
    <form class="d-flex input-group w-auto">
      <div class="dropdown">
        {{#if user}}
        <button class="btn btn-secondary dropdown-toggle fas fa-filter" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Opciones
        </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <a class="dropdown-item fas fa-align-justify" href="/menu"> Menu</a>
            <a class="dropdown-item fas fa-angle-right" href="/compra">Compra</a>
            <a class="dropdown-item fas fa-angle-right" href="/factura">Factura</a>
            <a class="dropdown-item fas fa-angle-right" href="/clientes">Clientes</a>
            <a class="dropdown-item fas fa-angle-right" href="/links">Productos</a>
            <a class="dropdown-item fas fa-angle-right" href="/links2">Proveedores</a>
            <a class="dropdown-item fas fa-angle-right" href="/links3/listempleado">Empleados</a>
            <a class="dropdown-item fas fa-angle-right" href="/links3">Puesto</a>
            <li class="nav-item">
              <a href="/profile" class="nav-link fas fa-id-badge"> Perfil</a>
            </li>
            <li class="nav-item">
              <a href="/logout" class="nav-link fas fa-sign-out-alt"><i class="fad fa-portal-exit"></i> Salir</a>
            </li>
        </div>  
        
      </div>
      {{else}}
      <div class="container">
          <a href="/" class="navbar-brand">Principal</a>
          <a  class="fas fa-sign-in-alt"  href="/signin"><br>INGRESAR<br></a>
          <a  class="far fa-address-card" href="/signup"><br>REGISTRAR<br></a>
      </div> 
      {{/if}}
    </form>
  </div>
  </div>
</nav>