<div class="container p-6">
    <a href="/links" class="fa fa-plus" focusable="false">
    Regresar
    </a>
</div>
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card bg-dark">
                <div class="card-body">
                    <form action="/links/edit/{{link.ID_PRODUCTO}}" method="POST">
                        <div class="form-group">
                            <input type="text" value="{{link.COD_PRODUCTO}}" class="form-control" name="COD_PRODUCTO" placeholder="Codigo Producto" autofocus required>    
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{link.NOM_PRODUCTO}}" class="form-control" name="NOM_PRODUCTO" placeholder="Producto" autofocus required>    
                        </div>
                        <div class="form-group">
                            <input type="text" value="{{link.COD_PROVEEDOR}}" class="form-control" name="COD_PROVEEDOR" placeholder="Proveedor" autofocus required>    
                        </div>
                        <div class="form-group">
                            <button class="btn btn-danger btn-block">
                                <i class="fas fa-edit"></i>
                                Guardar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>